<?xml version="1.0" encoding="utf-8"?>
<LauncherSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MainExePath>main.exe</MainExePath>
  <Hosts>
    <ServerHostSettings>
      <Description />
      <Address>dinasoft.app</Address>
      <Port>44405</Port>
    </ServerHostSettings>
  </Hosts>
</LauncherSettings>